<div>
  <h2 id="page-heading" data-cy="ReactionHeading">
    <span jhiTranslate="socialMediaApp.reaction.home.title">Reactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="socialMediaApp.reaction.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reaction"
        [routerLink]="['/reaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="socialMediaApp.reaction.home.createLabel">Create a new Reaction</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (reactions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="socialMediaApp.reaction.home.notFound">No Reactions found</span>
    </div>
  }

  @if (reactions && reactions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="time">
              <div class="d-flex">
                <span jhiTranslate="socialMediaApp.reaction.time">Time</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reactionMode">
              <div class="d-flex">
                <span jhiTranslate="socialMediaApp.reaction.reactionMode">Reaction Mode</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reactedBy.id">
              <div class="d-flex">
                <span jhiTranslate="socialMediaApp.reaction.reactedBy">Reacted By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="post.id">
              <div class="d-flex">
                <span jhiTranslate="socialMediaApp.reaction.post">Post</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (reaction of reactions; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/reaction', reaction.id, 'view']">{{ reaction.id }}</a>
              </td>
              <td>{{ reaction.time | formatMediumDatetime }}</td>
              <td jhiTranslate="{{ 'socialMediaApp.ReactionMode.' + reaction.reactionMode }}">{{ reaction.reactionMode }}</td>
              <td>
                @if (reaction.reactedBy) {
                  <div>
                    <a [routerLink]="['/app-user', reaction.reactedBy.id, 'view']">{{ reaction.reactedBy.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (reaction.post) {
                  <div>
                    <a [routerLink]="['/post', reaction.post.id, 'view']">{{ reaction.post.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/reaction', reaction.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/reaction', reaction.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(reaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (reactions && reactions.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
